* {
    margin: 6px;
    font-family: comic-sans;
}

section, nav{
   background-color: rgba(78, 192, 240, 0.35);
    vertical-align: middle;
    align-items: center;
    margin: auto 10% ; 
}
.centrar{
    vertical-align: middle;
    margin: auto 10% ;
}

a{
    color: white;
    text-decoration: none;
}
input, textarea, option, select   {
    background-color: rgba(204, 230, 255, 0.9);
    color: black;
}
ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    background-color: rgba(9, 45, 63, 0.8);
    float: center;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
p, label, legend {
    font-size: 18px;
}
.si{
    display: inline-block;

}

tbody {
    background-color: rgba(179, 250, 239, 0.5);
}
.imatge{
    margin: auto auto;
    height:600px;
    width: 800px;
    display: flex;
}
html {
    background-image: url("./multimedia/fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

thead {
    background-color: rgba(204, 252, 255, 0.7);
    text-align: center;
}

header {
    color: black;
    text-align: center;
}

table,
th,
td {
    margin: 10px auto;
}

th,
td {
    border: 2px solid rgba(30, 178, 192, 0.7);
    border-spacing: 1px;
    padding: 5px;
}

h2 {
    font-size: 30px;
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
}


h1,
h2,
h3 {
    font-family: "FFF Forward";
}
h4{
    font-size: 20px;
}